<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MyDjango登录</title>
</head>
<body>
<div id="header"  style="background-color:#FFA500;">
<h1 style="text-align:center;">欢迎登录！</h1>
    <hr>
</div>
<form action="/" method="post" style="text-align:center;">
    <p>
        用户名：<input type="text" id="username" name="username">
    </p>
    <p>
        密码：<input type="text" id="password" name="password">
    </p>
    <p>
        <input type="submit" id="submit" value="登录">
    </p>
</form>
<hr>
<div class="alert alert-danger navbar-fixed-bottom" style="text-align:center">
    <strong>建议使用Chrome最新浏览器</strong>
</div>
</body>
</html>